.modal_overlay{
  width:100%;
  height: 100vh;
  background: rgba(199, 195, 195, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
}
.modal{
  background: #FFFFFF;
  width:400px;
  box-shadow: 0 0 20px rgba(0,0,0, 0.26);
  border:1px solid #e5edf8;
  border-radius: 6px;
}

.modal__header{
  display: flex;
  height: 60px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}
.modal__body{
  min-height: 120px;
  padding: 20px;
}

.modal__footer{
  height: 60px;
  border-top: 1px solid #ddd;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal__close{
  width:28px;
  height:28px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

}

.modal__footer button{
  font-size: 14px;
font-weight: 700 !important;
text-align: center;
cursor: pointer;
white-space: normal;
outline: none !important;
overflow: hidden;
border-width: 0;
padding: 0 20px;
min-width: 90px;
min-height: 32px;
line-height: 30px;
display: inline-flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: #43425D;
background: white;
box-shadow: 0 0 8px #BDCFEB;
margin-left: 10px;
font-family: "Source Sans Pro";
  border-radius: 6px;
}

